In [1]:
import pandas as pd

df = pd.read_csv("example_dataset.csv")
df.head()

    PDB                                            Epitope
0  5VX4  A:GLN:148, A:PHE:122, A:ASP:192, A:ASN:125, A:...
1  5F4J  A:THR:485, A:LEU:527, A:SER:526, A:SER:519, A:...
2  4E9O  X:SER:64, X:LEU:203, X:THR:35, X:ASN:175, X:AS...
3  6H3S  B:TYR:612, B:HIS:616, B:THR:582, B:GLY:615, B:...
4  1OQE  L:CYS:9, L:HIS:16, L:CYS:20, L:LEU:12, L:VAL:1...

In [2]:
import os
import wget
import shutil

pdb_dir = "example_pdb"

if os.path.isdir(pdb_dir):
    pass
else:
    os.mkdir(pdb_dir)
        
for pdb in df["PDB"]:
    wget.download(f"https://files.rcsb.org/download/{pdb}.pdb")
    shutil.move(f"{pdb.lower()}.pdb", pdb_dir)

-1 / unknown